@charset "utf-8";

body {
	position: absolute;
	margin: 0;
	font-size: 20px;
	width: 1920px;
	height: 1080px;
}

html{
 	position:absolute;
 	margin:0px;
 	padding:0px;
}


.nav_bar {	
	font-family: "EB Garamond";
	font-size: 34px;
	z-index: 500;
	width: 2002.5px;
	height: 46px;
	background-color: #FFFEEE;
	padding-top: 24px;
	opacity: .93;
	box-shadow: 4px 4px 15px #bbbbbb;
}

.nav_categories {
	margin-top: -5px;
	margin-right: 200px;
	float: right;
}

.nav_categories ul li {
	list-style: none;
	position: relative;
}

.nav_categories ul li a {
	position: relative;
	text-decoration: none;
	padding: 0px 50px;
	color: black;
}

.nav_categories ul li a:hover {
	color: grey;
}

#categories { display:table; margin:0 auto; }
#categories li { display:table-cell; padding: 0px 10px; }

#description {
	float: center;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10px;
	font-size: 36px;
	font-family: font-family: 'Noto Serif', serif;;
	color: #44444F;
}

#description a{
	color: #008CCC;
	text-decoration: none;
}

.container img{
	vertical-align: text-bottom;
    padding: 0px 10px;
}

#contact {
	text-align: center;
}

#contact a{
	font-size: 42px;
	text-decoration: none;
	color: #444444;
}

#name {
	font-family: 'Montserrat', sans-serif;
	margin-top: 40px;
	font-size: 80px;
	text-align: center;
	color: #444444;
}